*{
	
	box-sizing:border-box;
	mainab:0px;
	padding:0px;
}

.logo{
	
	
}

.cname{
	
	background-color:#404242;
    color:#FF5733;
    height:150px;
	text-align:center;
	padding-top:60px;
	font-size:40px;
	font-weight:bold;	
	position: sticky;
}
.mainlogo{
	width:950px;
	height:auto;
	margin-top:30px;
}

.logocleft{
	
	width:220px;
	float:left;
	overflow:hidden;
	margin-top:20px;
	
}
.maincon{
	width:950px;
	
}
.conlet{
	width:500px;
	padding-left:15px;
	padding-right:15px;
	font: bold 15px Arial;
		
}
.conright{
	width:400px;
	font: bold 15px Arial;
}

.cnameright{
	width:700px;
	float:right;
	overflow:hidden;
}

.menu{
	
	/*border-style:solid;*/
	margin-top:5px;
	height:50px;
	text-align:center;
	padding-top:15px;
	background-color:#777676;
	
	
}

.menu a{
	
	color:white;
	text-decoration:none;
	display:block;
	font-size:20px;
	font-weight:bold;
}

.banner{
	
	margin-top:15px;
}

.service{
	
	text-align:justify;
}

.service h3{
	text-align:center;
}

.footer{
	font: bold 15px Arial;
	margin-top:5px;
	background-color:#404242;
	text-align:center;
	height:95px;
	padding-top:20px;
	color:white;
	font-size:25px;
	font-weight:bold;
}
.mainab{
	font: bold 15px Arial;
	width:950px;
}
.maincon{
	width:950px;
}
.h2{
	padding:9px 0px 9px 0px;
	font: bold 15px Arial;
	color:#ff9606;
}
.about{
	font: bold 15px Arial;
	margin-top:0px;
	padding:2px 5px 35px 25px;
	letter-spacing:1px;
	line-height:27px;
	text-align:justify;
	
}
.footer a{
	
	color:white;
	text-decoration:none;
}
.indentmenu{
font: bold 13px Arial;
width: 950px; /*width of menu*/
overflow: hidden;
position:fixed;
margin-bottom:50px;
z-index: 100;
}

.indentmenu ul{
margin: 0;
padding: 0;
float: left;
height:50px;
width: 100%; /*width of menu*/
border: 1px solid #404242; /*dark purple border*/
border-width: 0px 0;
background: #404242 url(indentbg.gif) center center repeat-x;
}

.indentmenu ul li{
display: inline;
}

.indentmenu ul li a{
float: left;
color: #fff; /*text color*/
padding: 16px 75px;
text-decoration: none;
border-right: 0px solid #ff9606; 
}

.indentmenu ul li a:visited{
color: white;
padding-top:16px;
background: #ff9606;
}

.indentmenu ul li a:hover, .indentmenu ul li .current{
color: white !important; 
padding-top: 16px; 
padding-bottom: 18px; 
background: #ff9606 url(indentbg2.gif) center center repeat-x;
}

.form
{
	text-align:Left;
	font-weight:bold;
	
}

.form input[type=text]{
  width: 100%;
  padding-top:30px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.form input[type=email]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.form input[type=number]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.form h1
{
	text-align:center;
	
}
.contactimage
{
	border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  
  margin-top:5px;
	
	
}






